*{margin: 0;padding: 0}
a{
    text-decoration: none;
}
.to-top-box{
    width: 36px;
    height: 36px;
    padding: 2px;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 20px;
    bottom: 50px;
    border-radius: 50%;
}
.to-top{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 60px 6px 60px 1px;
}
.icon-to-top{
    font-size: 25px !important;
    color: #666666;
}
.top{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
}
.header-nav{
    width: 1024px;
    height: 60px;
    padding: 0 16px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    float: left;
    height: 60px;
    width: 119px;
    background-image: url(../images/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 79px;
}
.header-nav-input{
    float: left;
    width: 224px;
    height: 60px;
}
.header-nav-inputbox{
    position: relative;
    margin:15.1px 0;
    width: 200px;
    margin-right: 24px;
    height: 29.8px;
    background-color: #F5F5F5;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
.header-nav-inputbox a{
    color: #8C8C8C;
}
.icon-sousuo{
    float: left;
    margin-top: 2px;
    margin-left: 3px;
    font-size: 24.8px !important;
}
.input-clear{
    display: none;
    position:absolute;
    right:12px;
    top:2px;
    cursor:pointer;
}
.close{
    width: 13px;
    height: 13px;
    text-align: center;
    font-weight: 100;
    line-height: 13px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #D8D8D8;
}
.header-nav-inputbox input{
    display: inline-block;
    background-color: #F5F5F5;
    width: 158px;
    height: 20.8px;
    border: none;
    font-size: 14px;
    outline: none;
    margin: 6px 11px 4.5px 0;
    color: #595959;
}
.catalogue{
    float: left;
    width: 298px;
    height: 60px;
}
.catalogue ul{
    overflow: hidden;
    list-style: none;
}
.catalogue ul li{
    float: left;
}
.catalogue ul li a{
    display: inline-block;
    padding: 0 14px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #595959;
    cursor: pointer;
}
.catalogue ul li a:hover{
    color: black;
}
.personal{
    float: right;
    width: 203px;
    height: 60px;
}
.personal ul{
    width: 203px;
    height: 24px;
    margin-top: 18px;
    list-style: none;
    overflow: hidden;
}
.personal ul li{
    float: left;
    height: 24px;
    margin: 0 13px;
}
.personal ul li:not(:last-child){
    padding-top: 3px;
    box-sizing: border-box;
}
.fan{
    width: 24px;
}
.content{
    width: 100%;
    background-color: #FAFAFA;
    border-top: 1px solid #EFEFEF;
}
.content-mid{
    padding-top: 24px;
    padding-bottom: 32px;
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
.self-introduction{
    float: left;
    width: 328.663px;
    height: 562.8px;
    padding-top: 32px;
    background-color: #FFFFFF;
}
.si-top{
    width: 328.663px;
    height: 191.2px;
}
.si-top img{
    display: block;
    margin: 0 auto;
    width: 96px;
}
.text{
    width: 256px;
    height: 75.2px;
    margin: 20px auto 0;
}
.name{
    width: 256px;
    height: 29.6px;
    margin-top:4px;
    text-align: center;
    font-size: 20px;
    color: #262626;
}
.description{
    text-align: center;
    color: #8c8c8c;
    line-height: 1.5;
    width: 224px;
    height: 41.6px;
    padding: 0 16px;
    font-size: 14px;
}
.user-info-button{
    margin-top: 16px;
    width: 328.663px;
    height: 32px;
}
.user-info-button button{
    width: 206px;
    height: 30px;
    margin: 0 61.3315px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    background-color: #FBFBFB;
    color: #595959;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.user-info-focus{
    width: 328.663px;
    height: 86.4px;
    margin: 4px 0;
    overflow: hidden;
    position: relative;
}
.focus{
    float: left;
    width: 132.325px;
    height: 54.4px;
    padding: 16px;
}
.focus p:first-child{
    width: 132.32px;
    height: 20.8px;
    margin-bottom: 4px;
    text-align: center;
    color: #8C8C8C;
    font-size: 14px;
}
.focus p:last-child{
    width: 132.32px;
    height: 29.6px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.line{
    float: left;
    width: 1px;
    height: 32px;
    position: absolute;
    background-color: #e8e8e8;
    left: 50%;
    top: 25px;
}
.user-info-list{
    width: 296.663px;
    height: 53.6px;
    padding: 16px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
.user-info-list p{
    position: relative;
    font-size: 14px;
    color: #8c8c8c;
    width: 273.663px;
    height: 20.8px;
    padding-left: 20px;
    margin-bottom: 6px;
}
.icon-zuobiao{
    margin-bottom: 3px;
    position: absolute;
    left: -5px;
    top: -2px;
    font-size: 18px !important;
}
.icon-gongwenbao{
    margin-bottom: 3px;
    position: absolute;
    left: -5px;
    top: -2px;
    font-size: 18px !important;
}
.user-info-team{
    width: 293.663px;
    height: 109.6px;
    padding: 16px;
}
.team{
    width: 296.663px;
    height: 20.8px;
    padding-bottom: 8px;
    font-size: 14px;
    color: #595959;
    font-weight: 500;
}
.blankslate{
    width: 264.663px;
    height: 20.8px;
    padding: 30px 16px;
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
}
.homepage{
    position: relative;
    width: 677.325px;
    border: 1px solid #F0F0F0;
    float: right;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.menu{
    width: 677.325px;
    height: 50px;
}
.block{
    float: left;
    font-size: 14px;
    color: #595959;
    line-height: 48px;
    height: 50px;
    padding: 0 16px;
    margin: 0 15px;
    border-bottom: 2px transparent;
    box-sizing: border-box;
}
.down-line{
    border-bottom: 2px solid #25B864;
    box-sizing: border-box;
    color: black;
}
.books-subheader{
    position: absolute;
    left: 0;
    top: 50px;
    width: 643.325px;
    height: 32px;
    padding: 8px 19px 8px 16px;
    border-top: 1px solid #F0F0F0;
    overflow: hidden;
}
.books-subheader-inputbox{
    float: left;
    width: 270px;
    margin-right: 24px;
    height: 29.8px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
.books-subheader-inputbox:hover{
    border: 1px solid #78CB99;
}
.books-subheader-inputbox a{
    color: #8C8C8C;
}
.icon-sousuo{
    float: left;
    margin-top: 2px;
    margin-left: 3px;
    font-size: 24.8px !important;
}
.books-subheader-inputbox input{
    display: inline-block;
    width: 158px;
    height: 20.8px;
    border: none;
    font-size: 14px;
    outline: none;
    margin: 4.5px 11px 4.5px 0;
    color: #595959;
}
.type{
    width: 92px;
    height: 30px;
    float: right;
    color: #8c8c8c;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    background-image: url(../images/downicon.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.ul{
    width: 675.33px;
}
.ul ul{
    width: 675.33px;
    list-style: none;
    margin-top: 50px;
}
.storehouse{
    width: 613.325px;
    padding: 16px 16px 16px 48px;
    border-top: 1px solid #E8E8E8;
    background-image: url(../images/book.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
    background-size: 20px;
}
.storehouse p:first-child{
    width: 609.325px;
    height: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
}
.storehouse p:nth-child(2){
    width: 609.325px;
    height: 17.6px;
    padding-bottom: 8px;
    font-size: 14px;
    color: #595959;
    font-weight: 300;
    line-height: 18px;
}
.storehouse p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    color: #8c8c8c;
    line-height: 18px;
    font-weight: 300;
}
.foot{
    width: 100%;
    height: 88.8px;
    background-color: #FAFAFA;
}
.slogan{
    width: 470px;
    height: 22px;
    padding-top: 16px;
    margin: 0 auto;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    border-bottom: 1px solid #E8E8E8;
}
.links{
    width: 352px;
    height: 21.8px;
    padding-top: 6px;
    padding-bottom: 16px;
    margin: 0 auto;
}
.links ul{
    list-style: none;
    overflow: hidden;
}
.links ul li{
    float: left;
    margin: 0 8px;
    color: #8c8c8c;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;

}
.links ul li:hover{
    cursor: pointer;
    color: black;
}